aiofiles
fastapi~=0.81.0
itsdangerous
Jinja2
python-multipart
uvicorn~=0.18.3
numpy~=1.23.1
pandas~=1.4.3
tabula-py
openpyxl
xlrd~=1.2.0
starlette~=0.19.1
mangum
#for development       #new

#for testing       #new


